#root {
  max-width: 1280;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url("./src/assets/images/home.jpg");
 /* background-size:cover;*/
}

section {
  color: black;
}

.navBg {
  background-color: #261214;
}

.card {
  margin: 5px auto;
  max-width: 90%;
  min-width: 60%;
  border-color: rgba(113, 112, 112, 0.396);
  
}

.carta-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  opacity: 70%;
}

.tmenu {
  padding-top: 15px;
  background-color: rgba(11, 120, 215, 0.085);
  text-shadow: 2px 2px 2px gray;
}
.card-body{
  margin: 0;
  padding: 1;
  background-color: rgba(11, 120, 215, 0.085);
}

.td-imagen {
  width: 150px;
  vertical-align: middle;
}

.td-precio {
  width: 100px;
}

Table img{
  width: 150px;
}

@media  (max-width: 390px) {
  Table img{
    width: 80px;
  }
}