#root {
  max-width: 1280;
  margin: 0 auto;
  text-align: center;
}

body {
  background-image: url("./src/assets/images/home.jpg");
}
.home-text{
  text-align: justify;
  color:aliceblue
}

section {
  color: black;
}

.navBg {
  background-color: #261214;
}

.card {
  margin: 5px auto;
  max-width: 90%;
  min-width: 60%;
  border-color: rgba(113, 112, 112, 0.396);

}

.carta-card {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  opacity: 70%;
  padding-top: 10px;
}

.tmenu {
  padding-top: 15px;
  background-color: rgba(11, 120, 215, 0.085);
  text-shadow: 2px 2px 2px gray;
}

.card-body {
  margin: 0;
  padding: 1;
  background-color: rgba(11, 120, 215, 0.085);
}

.td-imagen {
  width: 150px;
  vertical-align: middle;
}


.td-precio {
  width: 100px;
}

Table img {
  width: 150px;
  mix-blend-mode: darken;
  border-radius: 30px;

}

.container1 {
  display: flex;
  flex-wrap: wrap;
  min-width: 30%;
  max-width: 40%;
  opacity: 70%;
  margin-top: 20px;
  padding: 20px;
}

.checkForm {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 390px) {
  .home-text h4{
    font-size: medium;
  }
  Table tr {
    display: flex;
  }

  Table img {
    width: 60px;
  }

  .td-detalle {
    font-size: 11px;
  }

  .td-precio h5 {
    width: 80px;
    font-size: 15px;
    font-weight: bold;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    min-width: 80%;
    max-width: 90%;
    opacity: 70%;
    padding-top: 10px;
  }
  .container1 {
    display: flex;
    flex-wrap: wrap;
    min-width: 80%;
    max-width: 90%;
  }
}